body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

body {
    background: #1e1e22;
}




/* Header */
header {
    background: #141418;
}
header .logo {
    margin-left: 5%;
}
header .logo img {
    float: left;
    width: 8rem;
}
@media (min-width: 800px) {
    header .logo img {
        width: 12rem
    }
}
.menu {
    width: 100%;
    height: 60px;
    font-family: 'Roboto Slab', serif;
}
.menu ul {
    position: relative;
}
.menu ul li {
    width: 150px;
    float: left;
}
.menu a {
    padding: 15px;
    display: block;
    text-align: center;
    color: #fff;
}
.menu ul ul {
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul {
    visibility: visible;
}
.menu a:hover {
    color: #339933;
}
.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc; 
}
.menu ul ul li a {
    background-color: #141418;
}
label[for="bt_menu"] {
    padding: 4px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
}
#bt_menu {
    display: none;
}
label[for="bt_menu"] {
    display: none;
}
@media (max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
    #bt_menu:checked ~ .menu {
        margin-left: 0;
    }
    .menu {
        margin: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li {
        width: 100%;
        float: left;
        border-bottom: 2px solid #3C3C40;
        background: #141418;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
}
@media (min-width: 800px) {
    header .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    }
}


/* Main */
@media (min-width: 600px) {
    main {
        margin: 50px 0;
    }
}

/* Slide */
main img {
    width: 100%;
    border-radius:10px;
}
main .slide {
    padding: 0 10px;
}
main .slide h1 {
    color: #fff;
    font-family: 'IM Fell English SC', serif;
}
@media(min-width:600px) {
    main .slide h1 {
        font-size: 30px;
    }
}
@media(min-width:1000px) {
    main .slide h1 {
         font-size: 40px;
    }  
}
main .slide p {
    color: #cbcbb3;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
main .slide .audio {
    width: 100%;
    opacity: .5;
    transition: opacity 1s ease;
}
main .slide .audio:hover {
    opacity: 1;
}

/*Articles*/
main .articles {
    padding: 30px 20px;
    font-family: 'Quando', serif;
}
@media (max-width: 800px) {
    main .articles {
        font-size: 10px;
    }
}
@media (min-width: 800px) {
    main .articles {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-gap: 1rem;
    }
    main .articles .information {
        padding-left: 5%;
        border-left: 1px solid #3C3C40;
    }
}
main .articles article {
    color: #fff;
}
main .articles .description dt {
    margin: 10px 0;
}
main .articles .description .person {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
@media (min-width: 400px) {
    main .articles .description .person {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10%;
    }
}
@media (min-width: 540px) {
    main .articles .description .person {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
}
main .articles .description .person img {
    width: 125px;
    padding: 20px 10px;
    transition: transform 1s;
}
main .articles .description .person img:hover {
    transform: scale(2.5);
}
main .articles .information h2 {
    text-transform: uppercase;
}
main .articles .information p {
    padding: 10px 0;
}

/* Comments */
main .comments {
    color: #fff;
    padding: 60px 20px;
    font-family: 'Quando', serif;
}
main .comments #message {
    font-size: 16px;
    color: #999;
    width: 100%;
    font-family: 'Quando', serif;
    width: 100%;
}
@media (min-width: 600px) {
    main .comments #message {
        height: 150px;
        width: 65%;
    }
}
main .comments button {
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    font-family: 'Quando', serif;
    
}
main .comments button:active {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.6);
}



/* Footer */
footer {
    background: #141418;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
footer ul li {
    margin: 0 10px;
}
footer .social a {
    margin: 0 .5rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
footer .social a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.6);
}
footer .social .facebook {
    background-color: #4b64a6;
}
footer .social .twitter {
    background-color: #00abf1;
}
footer .social .youtube {
    background-color: #c4302a;
}
footer .copyright {
    color: #fff;
    background: black;
    text-align: center;
}